.sidebar
        nav.sidebar-nav
          ul.nav
            li.nav-item
              a.nav-link(href='/')
                i.icon-speedometer
                |  Integração 
            //- //- li.nav-title
            //- //-   | Drivers
            //- //- li.nav-item.nav-dropdown
            //- //-   a.nav-link.nav-dropdown-toggle(href='#')
            //- //-     i.icon-control-start
            //- //-     |  Veículos
            //- //-   ul.nav-dropdown-items
            //- //-     li.nav-item
            //- //-       a.nav-link(href='/trips')
            //- //-         i.icon-direction
            //- //-         |  Último trajeto                              
            //- li.nav-item.nav-dropdown
            //-   a.nav-link.nav-dropdown-toggle(href='#')
            //-     i.icon-star
            //-     |  Eventos
            //-   ul.nav-dropdown-items
            //-     li.nav-item
            //-       a.nav-link(href='/alarms')
            //-         i.icon-fire
            //-         |  Alarmes               
            li.nav-item
              a.nav-link(href='/driverbehavior')
                i.icon-user-follow
                |  Score
            //- li.nav-item
            //-   a.nav-link(href='/analytics')
            //-     i.icon-pie-chart
            //-     |  Analytics    
            li.divider
            li.nav-title
              | Administração
            li.nav-item.nav-dropdown
              a.nav-link.nav-dropdown-toggle(href='#')
                i.icon-settings
                |  Configurações
              ul.nav-dropdown-items
                li.nav-item
                  a.nav-link(href='/users', target='_top')
                    i.icon-user
                    |  Usuários  
                li.nav-item
                  a.nav-link(href='/customers')
                    i.icon-people
                    |  Drivers      
                li.nav-item
                  a.nav-link(href='/vehicles')
                    i.icon-energy
                    |  Veiculos                  
                li.nav-item.nav-dropdown
                  a.nav-link.nav-dropdown-toggle(href='#')
                    i.icon-compass
                    |  Devices
                  ul.nav-dropdown-items
                    li.nav-item
                      a.nav-link(href='/devices/new')
                        i.icon-arrow-up-circle
                        |  Registrar
                    li.nav-item
                      a.nav-link(href='/devices')
                        i.icon-refresh
                        |  Liberar   
                    li.nav-item
                      a.nav-link(href='/devices/setup')
                        i.icon-reload
                        |  Setup               
                li.nav-item.nav-dropdown
                  a.nav-link.nav-dropdown-toggle(href='#')
                    i.icon-list
                    |  Parâmetros
                  ul.nav-dropdown-items
                    li.nav-item
                      a.nav-link(href='/georisks')
                        i.icon-map
                        |  Zonas de Risco   
                    li.nav-item
                      a.nav-link(href='/calcvars')
                        i.icon-directions
                        |  Variáveis para Cálculo  
                    li.nav-item
                      a.nav-link(href='/profiles')
                        i.icon-equalizer
                        |  Perfis
                    li.nav-item
                      a.nav-link(href='/authorities')
                        i.icon-anchor
                        |  Autoridade    
                    li.nav-item
                      a.nav-link(href='/extclasses')
                        i.icon-note
                        |  Tipos Extensivos     
                    li.nav-item
                      a.nav-link(href='/extensivevalues')
                        i.icon-envelope-open
                        |  Valores Extensivos      